chromadb==1.4.1
langchain==1.2.7
langchain-chroma==1.1.0
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.7
langchain-mcp-adapters==0.2.1
langchain-ollama==1.0.1
langchain-tavily==0.2.17
langchain-text-splitters==1.1.0
mcp==1.26.0
numpy==2.4.1
ollama==0.6.1
pypdf==6.6.2
python-dotenv==1.2.1